@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.App {
  display: flex;
  background: radial-gradient(
    circle at center,
    #1a1c22 0%,
    #12141a 45%,
    #0f1115 70%,
    #0b0d10 100%
  );
}

body {
  height: 100%;
  /* overflow: hidden;  */
  background-color: black;
}

body::-webkit-scrollbar {
  display: none;
}

.sidebar-index{
  z-index: 2;
}

.home-index {
  z-index: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

.cursor-option {
  cursor: pointer;
}

.cursor-no {
  cursor: not-allowed;
}
