body {
  background: radial-gradient(
    circle at center,
    #1a1c22 0%,
    #12141a 45%,
    #0f1115 70%,
    #0b0d10 100%
  );
}

.faBars {
    color: white;
}

* {
    /* color: white; */
}

.login__container {
    /* width: 100%; */
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__img {
    filter: invert(1);
}

.login__style {
    width: 517.13px;
    height: 450px;
    margin-right: 150px;
}

.login__img {
    width: 100%;
}

.logo__wrapper {
    width: 175px;
    height: 51px;
}

.logo__img {
    width: 100%;
}

.right__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.login {
    flex: 1;
}


