.comments__area--2 {
    display: flex;
    height: 70vh;
    width: 700px;
    background-color: #2b2b2b;
    border-radius: 8px;
    overflow: hidden;
}

.modal__overlay {
    position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

}

.comments__area--left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
}
.comments__area-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0px;
    width: 350px;
}

.comments__area--middle1 {
    width: 100%;
    max-height: 490px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.comments__username--follow {
    display: flex;
}

.comments__area--top {
    position: relative;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    padding: 8px 4px;
}
.comments__area--top::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    opacity: 50%;
    bottom: 0;
    border-bottom: 1px solid white;
}

.comments__area--top h1 {
    font-size: 16px;
    font-weight: 600;
}

.comments__username--follow h1:nth-child(3) {
    color: #4F5BFF;
    text-align: center;
}

.comments__area--top h1:nth-child(2) {
    margin: 0 6px;
}

.comment__area--figure {
    width: 350px;
    height: 350px;
}

.comment__area--img1 {
    width: 100%;
}

.comments__top--profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
}

.comments__top--profileimg {
    width: 100%;
}

.comments__area--top {
    display: flex;
}

.figure__profile--comments1 {
    width: 30px;
    height: 30px;
    margin-right: 12px;
}

.profile__commentsimg--1 {
    width: 100%;
}

.comments1__caption {
    font-size: 14px;
    max-width: 200px;
    font-weight: 400;
    margin-bottom: 4px;
}

.comments1__username {
    font-size: 14px;
}

.reply-1__section {
    display: flex;
    margin-bottom: 12px;
}

.reply-1__section h1{
    font-size: 12px;
}

.reply-1__section h1:first-child {
    margin-right: 4px;
    font-weight: 400;
}

.comments__actual-1 {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 8px;
}

.comments1-middle {
    margin-right: 22px;
}

.view__more-1 {
    font-size: 14px;
}

.comments__actual-2 {
    display: flex;
    justify-content: space-between;
    padding: 8px 22px;
}

.new-one {
    width: 335px !important;
    margin-top: 8px !important;
    
}

.closeIcon {
    position: absolute;
    top: 16px;
    right: 12px;
}

.more-two {
    margin-right: 128px !important;
}

.comments__area--middle1::-webkit-scrollbar {
    display: none;
}

@media (max-width: 767px) {
    .comments__area--2 {
        width: 400px;
        flex-direction: column;
        height: 90vh;
        position: relative;
    }
    .comments__area-right,
    .comments__area--left {
        width: 400px;
    }
    .comments__area--left {
        margin-top: 51px;
        margin-bottom: 1px;
        position: relative;
    }
    .comments__area--left::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    opacity: 50%;
    bottom: -2px;
    border-bottom: 1px solid white;
}
    .comments__area--middle1 {
        max-height: 170px;
    }
    .comments__area--top {
        position: absolute;
        top: 0;
        margin-left: 0;
        padding-left: 8px;
    }
    .comment__area--figure {
        width: 400px;
        height: 400px;

    }
    .comments__area--top::after {
        width: 130%;
        left: 0;
    }
}
