.comments__area--2 {
    display: flex;
    height: 70vh;
    width: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #2b2b2b;
    margin-left: 98px;
    border-radius: 8px;
    overflow: hidden;
}

.comments__area--left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
}
.comments__area-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    width: 350px;
}

.comments__area--middle1 {
    width: 100%;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.comments__username--follow {
    display: flex;
}

.comments__area--top {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    padding: 6px 4px;
}
.comments__area--top::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    border-bottom: 1px solid white;
}

.comments__area--top h1 {
    font-size: 16px;
    font-weight: 600;
}

.comments__area--top h1:nth-child(2) {
    margin: 0 6px;
}

.comment__area--figure {
    width: 350px;
    height: 350px;
}

.comment__area--img1 {
    width: 100%;
}

.comments__top--profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
}

.comments__top--profileimg {
    width: 100%;
}

.comments__area--top {
    display: flex;
}

.figure__profile--comments1 {
    width: 25px;
    height: 25px;
}

.profile__commentsimg--1 {
    width: 100%;
}

.comments1__caption {
    font-size: 12px;
}