.CommentsModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 1000px;
    background-color: white;
}

.comment__area--left {
    width: 300px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment__left--img {
    width: 100%;
}