.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 75px;
    margin: 75px 10% 0px 10%;
}
.footer__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 12px;
}

.footer__link:not(:last-child) {
    margin-right: 16px;
}

.footer__link {
    font-size: 12px;
    cursor: not-allowed;
    transition: all 300ms ease;
    color: grey;
    list-style-type: none;
    margin-bottom: 22px;
}

.footer__link:hover {
    text-decoration: underline;
}

.copyright__section h2 {
    font-size: 12px;
    color: grey;
}