.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__list:not(:last-child) {
    margin-right: 6px;
}

.footer__link {
    font-size: 8px;
    cursor: not-allowed;
    transition: all 300ms ease;
    color: grey;
}

.footer__link:hover {
    text-decoration: underline;
}