.skeleton-1 {
width: 100%;
height: 100%;
background-color: #e0e0e0;
}

.skeleton-12 {
    width: 80%;
height: 40px;
background-color: #e0e0e0;

margin-top: 70px;
border-radius: 8px;
}

.here-12 {
    display: flex;
    flex-direction: column;
}