.post {
    width: 470px;
    height: 694px;
}

.reccomended {
    position: relative;
}

.post__top {
    display: flex;
    margin: 8px 12px 8px 16px;
}

.top__top {
    display: flex;
    flex-direction: column;
}

.top__left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom__top {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.post__pic {
    width: 468px;
    height: auto;
    border-radius: 12px;
    overflow: hidden;
    border: 0.7px solid rgb(56, 56, 56);
}

.post__img {
    width: 100%;
    height: 100%;
    display: block;
}

.post__bottom {
    margin: 12px 12px;
}



.profile__pic--1 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 6px;
    border: 0.7px solid rgb(56, 56, 56);
}

.dark-theme .profile__pic--1 {
    border: 0.7px solid rgb(221, 218, 218);
}

.profile__img--1 {
    width: 100%;
    height: 100%;
}

.top__bottom {
    font-size: 12px;
    color: #242424;
}

.dark-theme .top__bottom {
    color: white;
}

.icon-1 {
    color: #242424;
}

.dark-theme .icon-1 {
    color: white;
}

.post__username {
    font-size: 16px;
    margin-right: 4px;
    font-weight: 600;
    color: #242424;
}

.dark-theme .post__username {
    color: white;
}

.follow__btn {
    margin-left: 4px;
    color: #4F5BFF;
}

.dark-theme .follow__btn {
    color: rgba(133, 161, 255, 1)
}

.post__time {
    color: rgb(96, 95, 95);
}

.dark-theme .post__time {
    color: lightgrey;
}

.top__left--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.post__icon {
    font-size: 24px;
    color: #242424;
}

.dark-theme .post__icon {
    color: white;
}

.bottom__top {
    margin-bottom: 8px;
}

.top__description {
    margin-left: 8px;
}

.user-content {
    font-weight: 400;
    font-size: 14px;
}

.username__lower,
.lower__likes {
    font-weight: bold;
    font-size: 14px;
    color: #242424;
}

.dark-theme .username__lower,
.dark-theme .lower__likes {
    color: white;
}

.icon-left:not(:last-child) {
    margin-right: 4px;
}

.lower__likes,
.username__lower {
    margin-bottom: 6px;
}

.lower__comments {
    font-size: 14px;
    color: #242424;
}

.dark-theme .lower__comments {
    color: white;
}