.comment__profile {
    width: 32px;
    height: 32px;
    margin-right: 12px;
}

.comment__img {
    width: 100%;
}

.comment {
    width: 175px;
}

.comments__actual {
    display: flex;
}

.comment,
.comment__top {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.comment__icon {
    /* margin-left: 24px; */
}

.comment__top h1 {
    font-size: 14px;
}

.comment__content {
    font-weight: 400;
    margin-bottom: 8px;
}

.margin-left--span {
    margin-left: 8px;
    font-weight: lighter;
}

.comment__bottom h1 {
    font-size: 14px;
}

.comment__top {
    margin-bottom: 8px;
}

.comments__actual {
    margin-bottom: 24px;
}


