.sidebar {
  top: 0;
  left: 0;
  height: 100vh;
  padding-left: 24px;
  padding-top: 32px;
  padding-right: 16px;
  position: fixed;
  overflow: hidden;
  z-index: 100;
  margin-right: 260px;
  border-right: 0.09px solid rgba(73, 73, 73, 0.397);
  background: linear-gradient(
  180deg,
  #ffffff 0%,
  #fafafa 100%
);
z-index: 100000;
}

.dark-theme .sidebar {
  border-right: 0.09px solid rgba(255, 255, 255, 0.397);
  background: radial-gradient(
    circle at center,
    #1a1c22 0%,
    #12141a 45%,
    #0f1115 70%,
    #0b0d10 100%
  );
}

.sidebar-bottom {
  display: none;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding-left: 24px;
  /* padding-top: 32px; */
  padding-right: 16px;
  position: fixed;
  overflow: hidden;
  z-index: 100;
  border-top: 0.09px solid rgba(255, 255, 255, 0.397);
  background: linear-gradient(
  180deg,
  #ffffff 0%,
  #fafafa 100%
);
}

.dark-theme .sidebar-bottom {
  border-top: 0.09px solid rgba(255, 255, 255, 0.397);
  background: radial-gradient(
    circle at center,
    #1a1c22 0%,
    #12141a 45%,
    #0f1115 70%,
    #0b0d10 100%
  );
}

.side__links--bottom {
  display: flex;
}

.no-cursor {
    cursor: not-allowed;
}

.img__logo,
.img__logo--small {
  display: flex;
  align-items: center;
  justify-content: center;
}



.img__logo {
  width: 103px;
  height: 29px;
  margin-bottom: 48px;
  margin-left: 6px;
}

.insta__logo {
  width: 100%;
  filter: invert(0);
}

.dark-theme .insta__logo {
  color: white; 
  filter: invert(1);
}

.side__icon {
  font-size: 22px;
  color: white;
  filter: invert(1); 
  margin-right: 8px;
  z-index: 2;
}

.dark-theme .side__icon {
  color: white;
  filter: invert(0);
}

.profile__pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.profile__pic {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__img {
  width: 100%;
}

.side__link h1,
.bottom__link h1 {
  font-size: 18px;
  color: #242424;
  font-weight: 400;
  z-index: 2;
}

.dark-theme .side__link h1,
.dark-theme .bottom__link h1 {
  color: white;
}

.bottom__link {
  padding-left: 8px;
  width: 220px;
  height: 56px;
}

.side__link,
.bottom__link {
  display: flex;
  align-items: center;
}

.side__links {
  margin-bottom: 25px;
  cursor: pointer;
}

.img__logo--small {
  width: 36px;
  height: 36px;
  display: none;
  margin-bottom: 48px;
  margin-left: 6px;
}

.insta__logo--small {
  width: 100%;
  filter: invert(0);
}

.dark-theme .insta__logo--small {
 filter: invert(1);
}

.side__link {
  transition: all 300ms ease;
  width: 220px;
  height: 56px;
  padding-left: 8px;
  display: flex;
  align-items: center;
}

.side__link--bottom:not(:last-child) {
  margin-right: 48px;
}

.side__link:hover,
.bottom__link:hover {
  background-color: rgba(125, 123, 123, 0.092);
  border-radius: 8px;
  z-index: 1;
}

.dark-theme .side__link:hover,
.dark-theme .bottom__link:hover {
  background-color: rgba(125, 123, 123, 0.092);
}

@media (max-width: 1159px) {
  .side__link h1,
  .bottom__link h1 {
    display: none;
  }
  .img__logo {
    display: none;
  }
  .img__logo--small {
    display: flex;
  }
  .sidebar {
    padding-right: 24px;
  }
  .side__link {
    width: 48px;
    height: 48px;
    padding-left: 8px;
    justify-content: center;
    margin-bottom: 8px;
  }
  .bottom__link {
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
  }
  .link-1 {
    padding-left: 0;
  }
  .profile__pic {
    margin-right: 0px;
  }
}

@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
  .sidebar-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 556px) {
  .side__link--bottom:not(:last-child) {
  margin-right: 24px;
}
}
