.sidebar-top {
    display: none;
     top: 0;
  width: 100vw;
  height: 56px;
  position: fixed;
  overflow: hidden;
  z-index: 100;
  border-right: 0.09px solid rgba(255, 255, 255, 0.397);
  background: linear-gradient(180deg, #ffffff 0%, #fafafa 100%);
  padding-left: 32px;
}

.dark-theme .sidebar-top {
    background: radial-gradient(
    circle at center,
    #1a1c22 0%,
    #12141a 45%,
    #0f1115 70%,
    #0b0d10 100%
  );
}

.sidebar-top__icons {
    font-size: 22px;
    color: #242424;
}

.dark-theme .sidebar-top__icons {
    color: white;
}

.sidebar-top__icons {
    margin-right: 12px;
}

.sidebar-top__figure {
    display: flex;
    justify-content: center;
    align-items: center;
     width: 103px;
  height: 29px;
  margin-right: 18px;
}

.sidebar-top__img {
  width: 100%;
  filter: invert(0);
  margin-right: 12px;
}

.dark-theme .sidebar-top__img {
    filter: invert(1);
}

.sidebar-top__search {
    width: 268px;
    height: 44px;
    background-color: #f2f3f5;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 24px;
    border-radius: 20px;
    cursor: not-allowed;
    margin-left: 100px;
}

.dark-theme .sidebar-top__search {
    background-color: #2B2F33;
}

.sidebar-top__icon {
    margin-right: 12px;
    color: #242424;
}

.dark-theme .sidebar-top__icon {
    color: white;
}

.sidebar-top__search h1 {
    font-size: 16px;
    font-weight: 400;
    color: grey;
}

@media(max-width: 767px) {
    .sidebar-top {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 556px) {
    .sidebar-top__search {
        margin-left: 50px;
    }
}