.user-posts {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 4px 2px; 
  padding: 8px;
  width: 925px;
  margin-top: 48px;
}

.user__post--icons {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
}

.user-post {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s;
  width: 300px;
  height: 300px;
  position: relative;
}

.user-post:hover .user-post-img{
  transform: scale(1.05);
  filter: brightness(60%);
}

.user-post:hover .user__post--icons {
    display: inline;
}

.user-post-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 300ms ease;
}