.Explore {
    margin-left: 262px;
}

.explore__section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore__section--posts {
    display: flex;
    flex-wrap: wrap;
    width: 536px;
}

.explore__photo {
    width: 268px;
    height: 268px;
}

.explore__photo--img {
    width: 100%;
}

.explore__reel {
    width: 300px;
    height: 536px;
}

.explore__reel--video {
    width: 100%;
    height: 100%;
}

@media(max-width: 1159px) {
    .Explore {
        margin-left: 98px;
    }
}

@media(max-width: 976px) {
    .explore__reel {
    width: 200px;
    height: 357.3px;
}
.explore__photo {
    width: 200px;
    height: 200px;
}
.explore__section--posts {
    width: 400px;
}
}

@media(max-width: 767px) {
    .Explore {
        margin-left: 0px;
    }
}

@media(max-width: 608px) {
    
}