.Explore {
    margin-left: 262px;
}

.explore__section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user__post--icon {
    color: white;
}

.user__post--div h1 {
    color: white;
}

.explore__section--posts {
    display: flex;
    flex-wrap: wrap;
    width: 536px;
}

.explore__photo {
    width: 268px;
    height: 268px;
    position: relative;
    transition: all 300ms ease;
    z-index: 1;
}

.explore__photo--img {
    width: 100%;
}

.explore__reel {
    width: 300px;
    height: 536px;
    position: relative;
    transition: all 300ms ease;
    z-index: 1;
}

.explore__reel--video {
    width: 100%;
    height: 100%;
}

.explore__post--likecom {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 300ms ease;
    z-index: 100;
}
.explore__photo:hover .explore__post--likecom,
.explore__reel:hover .explore__post--likecom {
    display: flex;
    filter: brightness(100%) !important;
    
}
.explore__photo:hover .explore__photo--img,
.explore__reel:hover .explore__reel--video{
   filter: brightness(30%);
    
}


@media(max-width: 1159px) {
    .Explore {
        margin-left: 98px;
    }
}

@media(max-width: 976px) {
    .explore__reel {
    width: 225px;
    height: 400px;
}
.explore__photo {
    width: 200px;
    height: 200px;
}
.explore__section--posts {
    width: 400px;
}
}

@media(max-width: 767px) {
    .Explore {
        margin-left: 0px;
        margin-top: 56px;
    }
}

@media(max-width: 626px) {
.explore__reel {
    width: 170px;
    height: 300px;
}
.explore__photo {
    width: 150px;
    height: 150px;
}
.explore__section--posts {
    width: 300px;
}
}