.profile__page {
    margin-left: 262px;
    /* padding: 40px 50px 40px 100px; */
    width: 100%;
    margin-top: 22px;
}

.profile__page--one {
    margin-bottom: 100px;
}

.profile__page--icon {
    font-size: 24px;
    color: grey !important;
    position: relative;
    opacity: 70%;
    cursor: pointer;
}

.profile__top--figure {
    width: 150px;
    height: 150px;
    margin-right: 60px;
    margin-top: 35px;
}

.profile__top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__top--img {
    width: 100%;
}

.profile__page--icon::after {
    transition: all 300ms ease;
}

.icon__wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.icon__wrapper.active .profile__page--icon {
    opacity: 100%;
}

.icon__wrapper::after {
  content: "";
  position: absolute;
  bottom: -10px; 
  left: -6px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease;
  z-index: 200;
  transition: all 0.3s ease;
}
.icon__wrapper.active::after {
  width: 140%; 
}

/* .profile__top--right */

.right__top {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 24px;
}

.profile__middle {
    display: flex;
}

.right__top h1:nth-child(1) {
    font-size: 18px;
    font-weight: 400;
    margin-right: 12px;
}

.right__top--btn {
    font-size: 14px;
    margin-right: 12px;
    font-weight: 700;
    background-color: #2b2b2b;
    padding: 8px 14px;
    border-radius: 8px;
}

.profile__middle {
    display: flex;
    margin-bottom: 24px;
}

.profile__middle h1 {
    font-size: 16px;
    margin-right: 32px;
    font-weight: 500;
    color: grey;
}

.profile__bottom h1 {
    font-size: 14px;
}

.bold {
    font-weight: 700;
    margin-right: 4px;
}

.profile__page--content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile__page--icons {
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.profile__page--content:after {
    content: "";
    position: absolute;
    bottom: -10px;
    /* height: 1px; */
    width: 880px;
    border-bottom: 0.05px solid white;
    opacity: 0.5;
}
 
.profile__page--icon:not(:last-child) {
margin-right: 150px;
}

.profile__page--sections {
    margin-bottom: 75px;

}

.footer__section {
    margin-bottom: 24px;
}

.faGear-2 {
    display: none;
}


@media (max-width: 1159px) {
    .profile__page{
        margin-left: 98px;
    }
}

@media (max-width: 1024px) {
    .profile__page--content:after {
        width: 80%;
    }
    .profile__page--icons {
        width: 40%;
    }
}

@media (max-width: 767px) {
    .profile__page {
        margin-left: 0px;
        margin-top: 56px;
    }
    .profile__page--content:after {
        width: 100%;
    }
    .right__top--btn-2 {
        width: 120px !important;
    }
    .faGear-1 {
        display: none;
    }
    .profile__bottom h1 {
        margin-bottom: 12px;
    }
    .profile__top--right {
        margin-top: 18px;
    }
    .faGear-2 {
        display: flex;
    }
}

@media(max-width: 767px) {
    .profileFooter {
        display: none !important;
    }
    .profile__page--one {
        margin: 25px 0 85px 0;
    }
}