
* {
    color: white;
}

.home {
    display: flex;
    width: 100%;
    margin-left: 262px;
    position: relative;
}

.home-middle {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__reccomended {
    width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-right {
    width: 319px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
}

.home__account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin-bottom: 24px;
}

.reccomended__post {
    display: flex;
}

.pic__name--container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.users-name-one h1 {
    font-size: 16px;
}

.users-name-one h1:nth-child(2) {
    font-weight: lighter;
    font-size: 14px !important;
}

.profile__figure--sugg {
    border-radius: 50%;
    border: 0.7px solid rgb(56, 56, 56);
    overflow: hidden;
    width: 44px;
    height: 44px;
    margin-right: 8px;
}

.profile__img--sugg {
    width: 100%;
}

.suggested__accounts {
    margin-bottom: 22px;
}

.home__suggested {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin-bottom: 22px;
}

.home__suggested h1 {
    font-size: 14px;
}

.home__logout,
.follow__btn {
    font-size: 14px;
    font-weight: bold;
    color: rgba(133, 161, 255, 1);
}

.home__suggested h1:nth-child(1) {
    color: lightslategrey;
    font-weight: 400;
}

.sugg--left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin-bottom: 16px;
}

.side__footer {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .footer {
    margin: 0px;
    align-items: unset;
}

.home .footer__list {
    justify-content: unset;
}

.home .footer__link {
    margin-bottom: 8px;
}

.home-middle .footer {
    display: none;
}

.home__story--one {
    width: 450px;
    height: 220px;
    margin-right: 14px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.home__stories {
    width: 450px;
    margin: 40px 0;
}

.stories__username {
    font-size: 14px;
    margin-bottom: 8px;
}

.username__descr {
    font-size: 12px;
    font-weight: 400;
}

.stories__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.stories__top h1 {
    font-size: 16px;
}

.stories__top h1:nth-child(2) {
    color: rgba(133, 161, 255, 1);
}



.profile__story {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 0.7px solid rgb(56, 56, 56);
    overflow: hidden;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__story--img {
    width: 100%;
}

.home__story--one::-webkit-scrollbar {
    display: none;
}

.stories__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 150px;
    height: 220px;
    border: 0.5px solid rgba(211, 211, 211, 0.329);
    border-radius: 4px;
    margin-right: 12px;
}

.top--section {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom__section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px 0;
    border-top: 0.5px solid rgba(211, 211, 211, 0.329);
}

.bottom__section h1 {
    font-size: 14px;
    color: rgba(133, 161, 255, 1);
}


@media (max-width: 1159px) {
    .home{
        margin-left: 98px;
    }
}

@media (max-width: 767px) {
    .home {
        margin-left: 0px;
        margin-top: 56px;
    }
   
}

@media (max-width: 1159px) {
    .home-right {
        display: none;
    }

    .home-middle .footer {
    display: block;
}

    .home-middle {
        width: 100%;
    }
}

@media(max-width: 767px) {
    .side__footer {
        display: none !important;
    }
}