
* {
    color: white;
}

.home {
    display: flex;
    width: 100%;
    margin-left: 262px;
}

.home-middle {
    width: 100px;
}

.home-right {
    width: 30%;
}

@media (max-width: 1024px) {
    .home{
        margin-left: 98px;
    }
}